# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Environment variables
# =========================
.env


# =========================
# Next.js
# =========================
.next/
out/
build/
dist/
.vercel/

# =========================
# Prisma
# =========================
prisma/dev.db
prisma/dev.db-journal

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# =========================
# Cache
# =========================
.cache/
.turbo/

# =========================
# Coverage
# =========================
coverage/

# =========================
# Temporary files
# =========================
tmp/
temp/

# =========================
# Compiled files
# =========================
*.tsbuildinfo

/src/generated/prisma
